<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add acesso="Nau.Properties.Settings.spaceshipboardConnectionString"
            connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=spaceshipboard;Persist Security Info=True;User ID=spaceshipboard;Password=Sg7F3U1-Ai9_"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>